<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416409039496-7jt0ajodfdsp22d57td944fg2c6k2skp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416409039496-7jt0ajodfdsp22d57td944fg2c6k2skp</string>
	<key>API_KEY</key>
	<string>AIzaSyAo7EFrqr4p5k_JM9BgnbjOihAMDxRy2nI</string>
	<key>GCM_SENDER_ID</key>
	<string>416409039496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koo.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-56b44</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-56b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416409039496:ios:599a11604a2decfa1fe53d</string>
</dict>
</plist>